@use "../../../../sass/abstract/" as *;

:root {
    --first-color: #e3f8ff;
    --second-color: #dcfafb;
    --third-color: #ffe8df;
    --accent-color: #ff5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root {
    --body-font: "Open Sans";
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,
::after,
::before {
    box-sizing: border-box;
}

h1 {
    font-size: var(--h1-font-size);
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}

.cardssss {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // height:500px;
    .image-card-style {
        width: 100%;
        height: 180px;
    }
}
.bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop {
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: 0.25rem;
}

/*-- COMPONENT --*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 100% !important;
}
article:nth-child(1) {
    background-color: var(--first-color);
}
article:nth-child(2) {
    background-color: var(--second-color);
}
article:nth-child(3) {
    background-color: var(--third-color);
}
article:nth-child(4) {
    background-color: var(--second-color);
}
.card__imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card__name {
    position: absolute;
    left: -8%;
    top: 0;
    width: 25%;
    height: 25%;
    writing-mode: vertical-rl;
    // transform: rotate(90deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}
.card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover {
    color: var(--accent-color);
}
.card__precis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.5s;
}
.card__preci {
    display: block;
    text-align: center;
}
.card__preci--before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: 0.25rem;
}
.card__preci--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

/*-- FOOTER --*/

footer {
    text-align: center;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px) {
    body {
        margin: 3rem 0 0 0;
    }
    .title-shop {
        margin: 0 5rem;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.image-product {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
}
